<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - MyShop</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/cozastore-master/css/main.css" />
    @RenderSection("Styles", required: false)
</head>
<body class="animsition">

    @await Component.InvokeAsync("Header")

    @RenderBody()

    @await Component.InvokeAsync("Footer")

    <!-- jQuery + Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <!-- Tema JS -->
    <script src="~/cozastore-master/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
